---
layout: info
title: Staying
---
<section class="container content-section text-center">
  <div class="row">
    <div class="col-lg-12">
      <h2>Hotels</h2>
      <p>
        We've blocked off rooms at two hotels within walking
        distance of each other
      </p>

      <div class="row">
        {% for hotel in site.hotels %}
          <div class="col-lg-6">
            {% include hotel_thumbnail.html %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section class="container content-section text-center">
  <div class="row">
    <div class="col-lg-12">
      <h2>Getting Around</h2>

      <p>
        We'll be coordinating transportation for everyone to events not located
        at the Hilton, but for when you want to get out and explore the city yourself,
        there are pleny of ways to get around.
      </p>

      <h3>Uber & Lyft</h3>

      <p>
        Ride-share much? Uber tends to be our app-of-choice, but Lyft also has
        good coverage as well. If you've never used either, you can use the
        following promo codes to get $20 off you first ride with each service.
      </p>

      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <p class="col-xs-offset-3 col-xs-6">
              <img class="img-responsive" src="/img/uber-black.png">
            </p>
            <div class="clearfix"></div>
            <p class="col-xs-12 text-center">
              <a href="https://itunes.apple.com/us/app/uber/id368677368" class="btn btn-default">
                iPhone
              </a>
              <a href="https://play.google.com/store/apps/details?id=com.ubercab" class="btn btn-default">
                Android
              </a>
            </p>
            <p class="col-xs-12 text-center">
              Code: <code>uberchrisandnikita</code>
            </p>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="row">
            <p class="col-xs-offset-4 col-xs-4">
              <img class="img-responsive" src="/img/lyft.svg">
            </p>
            <div class="clearfix"></div>
            <p class="col-xs-12 text-center">
              <a href="https://itunes.apple.com/us/app/lyft-taxi-bus-app-alternative/id529379082" class="btn btn-default">
                iPhone
              </a>
              <a href="https://play.google.com/store/apps/details?id=me.lyft.android"  class="btn btn-default">
                Android
              </a>
            </p>
            <p class="col-xs-12 text-center">
              Code: <code>CHRISANDNIKITA</code>
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
