---
layout: info
title: Celebrations
billboard_class: billboard-stairs
---

{% for event in site.events %}
  <section class="container content-section {% cycle 'text-left', 'text-right' %}">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <h2>
          {{ event.name }}
          <br>
          <small>
            {{ event.date }} | {{ event.time }}
          </small>
        </h2>

        <div class="row">

          <!-- {% include google_map.html link=event.google_maps_url coordinates=event.coordinates size="555x305" %} -->

          <address class="col-xs-8 text-left">
            <strong>{{ event.location_name }}</strong><br>
            <a href="{{ event.google_maps_url }}">
              {{ event.address1 }}<br>
              {{ event.address2 }}<br>
            </a>
          </address>

          <dl class="col-xs-4 text-right">
            <dt>Attire</dt>
            <dd>{{ event.attire }}</dd>

            <!-- <dt>Transportation</dt>
            <dd>{{ event.transportation }}</dd> -->
          </dl>

        </div>

        <p>{{ event.description }}</p>

      </div>
    </div>
  </section>
{% endfor %}

<!-- <section class="container content-section text-center">
  <p>
    <a class="btn btn-default" href="{{ site.calendar.ical }}">Import to calendar</a>
    <br>
    <a class="btn btn-link btn-sm" href="">Learn more</a>
  </p>
</section> -->

<section class="container content-section text-center">
  <div class="row">
    <p class="col-lg-12">
      For those not familiar with Chicago, here's a map of events
      along with some other popular landmarks.
    </p>
    <div class="col-lg-12">
      <iframe src="https://www.google.com/maps/d/u/0/embed?mid=z0XYnxwl5wDk.kCMdy34paGR4" class="map"></iframe>
    </div>
  </div>
</div>
