---
layout: info
title: Details
billboard_class: billboard-wall
---
<section class="container content-section text-center">
  <div class="row">
    <div class="col-lg-offset-2 col-lg-8">
      <h2>Getting Here</h2>
      <p>
        For those flying in to town, there are two airports that are
        equidistant from downtown Chicago.
        <br>
        Both offer public transportation and private taxis into the city.
      </p>
    </div>
    <div class="col-lg-offset-3 col-lg-6">
      <dl class="dl-horizontal text-left">
        <dt>O'hare Itn'l (ORD)</dt>
        <dd>
          Bigger and busier. All airlines except Southwest. For
          public transportation into Chicago take the
          CTA Blue Line to the loop.
        </dd>

        <dt>Chicago Midway (MDW)</dt>
        <dd>
          Smaller and more quiet. Major hub for Southwest. For public
          transportation into Chicato take the CTA Orange Line
          to the loop.
        </dd>
      </dl>
    </div>
    <div class="col-lg-offset-2 col-lg-8">
      <p>

      </p>
    </div>

  </div>
</section>

<section class="container content-section text-center">
  <div class="row">
    <div class="col-lg-offset-2 col-lg-8">
      <h2>Where to Stay</h2>
      <p>
        We have a room block at the Hilton Chicago, which is where Friday and
        Saturday's events will take place. Please note that rooms are only available
        through our room block from Thursday, May 26th to Monday, May 30th.
        For any nights outside that window, please call the hotel directly and
        reference the Vashi-Baclig wedding.
      </p>
      <div class="row">
        {% for hotel in site.hotels %}
          <div class="{% cycle 'col-lg-offset-4', '' %} col-lg-4 ">
            {% include hotel_thumbnail.html hotel=hotel %}
          </div>
        {% endfor %}

      </div>
    </div>
  </div>
</section>

<section class="container content-section text-center">
  <div class="row">
    <div class="col-lg-offset-2 col-lg-8">
      <h2>Getting Around</h2>

      <p>
        For those not familiar with Chicago, here's a map to get you oriented.
      </p>

      <div>
        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=z0XYnxwl5wDk.kCMdy34paGR4" class="map"></iframe>
      </div>

      <p>
        We'll be coordinating transportation for events not located
        at the Hilton, but for when you want to get out and explore the city yourself,
        there are plenty of ways to get around.
      </p>

      <div class="row">
          <div class="col-lg-6 text-left">

          <h3>Car</h3>

          <p>
            First and foremost, a car is not necessary to get around to all
            the wedding fesitivites, and in fact is probably more difficult to
            manage due to limited parking and tight streets.
          </p>
          <p>
            That being said, the streets of Chicago are easy to navigate as the roads
            line up on a grid and both hotels offer parking (valet
            and self-park, for a fee.)
          </p>
        </div>

        <div class="col-lg-6 text-left">

          <h3>Taxi</h3>

          <p>
            Hailing a cab typically isn't too hard in the city. If you don't have cash,
            all cabs are required to <strong>accept credit cards</strong>. Legally,
            cabs are not allowed to accept more passengers than there are
            seat belts in the car. That being said, it never hurts to ask :)
          </p>
          <p>
            For more info check out some
            <a href="https://www.cityofchicago.org/content/dam/city/depts/bacp/publicvehicleinfo/passengerinfo/knowbeforeyouride07242014.pdf">
              city of Chicago taxi tips.
            </a>
          </p>
        </div>



        <div class="col-lg-6 text-left">
          <h3>CTA</h3>
          <p>
           The city of Chicago Transit Authority incorporates an elevated 'L' train and a system of buses. For most tourist destinations, the 'L' should get you wehre you want to go.
          </p>
          <p>
            The closest 'L' station to the Hilton is the Harrison Red Line station at the corner of Harrison St. and State St.
          </p>
          <p>
            Hotel Burnham is equidistant from the Washington Blue Line station (at the corner of Washington St. and Dearborn St.) and the Randolph/Wabash station, which serves multiple 'L' lines.
          </p>
        </div>

        <div class="col-lg-6 text-left">
          <h3>Uber & Lyft</h3>

          <p>
            Ride-share much? Uber tends to be our app-of-choice, but Lyft also has
            good coverage as well. If you've never used either, you can use the
            following promo codes to get $20 off you first ride with each service.
          </p>

          <div class="row">
            <div class="col-lg-6">
              <div class="row">
                <p class="col-xs-offset-1 col-xs-10">
                  <img class="img-responsive" src="/img/uber-black.png">
                </p>
                <div class="clearfix"></div>
                <p class="col-xs-12 text-center">
                  <a href="https://itunes.apple.com/us/app/uber/id368677368" class="btn btn-default btn-sm">
                    iPhone
                  </a>
                  <a href="https://play.google.com/store/apps/details?id=com.ubercab" class="btn btn-default btn-sm">
                    Android
                  </a>
                </p>
                <p class="col-xs-12 text-center">
                  Code: <code>uberchrisandnikita</code>
                </p>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="row">
                <p class="col-xs-offset-3 col-xs-6">
                  <img class="img-responsive" src="/img/lyft.svg">
                </p>
                <div class="clearfix"></div>
                <p class="col-xs-12 text-center">
                  <a href="https://itunes.apple.com/us/app/lyft-taxi-bus-app-alternative/id529379082" class="btn btn-default btn-sm">
                    iPhone
                  </a>
                  <a href="https://play.google.com/store/apps/details?id=me.lyft.android"  class="btn btn-default btn-sm">
                    Android
                  </a>
                </p>
                <p class="col-xs-12 text-center">
                  Code: <code>CHRISANDNIKITA</code>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


        <!-- <div class="row">
          <div class="well">
            No cash? No problem! All cabs are required to accept credit cards.
          </div>
          <div class="well">
            Legally, cabs are not allowed to accept more passengers than there are
            seat belts in the car. That being said, it never hurts to ask.
          </div>
        </div> -->
