---
layout: info
title: titles.otherevents
billboard_class: billboard-otherevents
---
{% tf otherevents/intro.html %}

{% for event in site.otherevents %}
  <section class="container content-section text-left">
    <div class="row">
      <div class="col-lg-7 col-lg-offset-2 col-sm-offset-2 col-sm-8">
        <h2>
          {% t event.name %}
          <br>
          <small>
            {% t event.date %}
          </small>
        </h2>

        {% if event.location_name %}
        <div class="row">
            <address class="col-xs-8 text-left">
              <strong>{{ event.location_name }}</strong><br>
              <a href="{{ event.google_maps_url }}">
                {{ event.address1 }}<br>
                {{ event.address2 }}<br>
              </a>
            </address>
        </div>
        {% endif %}

        <p>{% tf event.description_file %}</p>
        
        {% if event.transportation_file %}
          <p><em>{% tf event.transportation_file %}</em></p>
        {% endif %}

        {% if event.shuttle %}
          <p><em>{{ event.shuttle }}</em></p>
        {% endif %}

        {% if event.map_url %}
          <div>
            <iframe src="{{ event.map_url }}" class="map"></iframe>
          </div>
        {% endif %}

      </div>
    </div>
  </section>

{% endfor %}
