---
layout: info
title: titles.weddingweek
billboard_class: billboard-celebrations
---
{% for event in site.otherevents %}
  <section class="container content-section {% cycle 'text-left', 'text-right' %}">
    <div class="row">
      <div class="col-lg-7 col-lg-offset-{% cycle 2, 3 %} col-sm-offset-2 col-sm-8">
        <h2>
          {% t event.name %}
          <br>
          <small>
            {% t event.date %} | {% t event.time %}
          </small>
        </h2>

        <div class="row">
          {% if event.location_name %}
            <address class="col-xs-8 text-left">
              <strong>{{ event.location_name }}</strong><br>
              <a href="{{ event.google_maps_url }}">
                {{ event.address1 }}<br>
                {{ event.address2 }}<br>
              </a>
            </address>
          {% endif %}

          <!--
          <dl class="col-xs-4 text-right">
            <dt>{% t global.attire %}</dt>
            <dd>{% t event.attire %}</dd>
          </dl>
          -->

        </div>

        <p>{% tf event.description_file %}</p>
        
        {% if event.transportation_file %}
          <p><em>{% tf event.transportation_file %}</em></p>
        {% endif %}

        {% if event.shuttle %}
          <p><em>{{ event.shuttle }}</em></p>
        {% endif %}

        {% if event.map_url %}
          <div>
            <iframe src="{{ event.map_url }}" class="map"></iframe>
          </div>
        {% endif %}


      </div>
    </div>
  </section>

{% endfor %}
