<section id="accommodations" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-12">
            <h2>Accommodations</h2>

            <h3>Hotels</h3>
            <p>
              We've blocked off rooms at two hotels within walking
              distance of each other
            </p>

            <div class="row">
              <div class="col-lg-6">
                <div class="thumbnail">
                  <a target="_blank" href="https://www.google.com/maps/place/Travelodge+Hotel+Downtown+Chicago/@41.874275,-87.6254201,17z/data=!3m1!4b1!4m2!3m1!1s0x880e2c988de9afb9:0x101e1912d2e313fd">
                    <img src="https://maps.googleapis.com/maps/api/staticmap?key={{ site.google.key }}&size=555x305&markers=41.872592,-87.62481">
                  </a>
                  <div class="caption">
                    <h4>Hilton Chicago</h4>
                    <p>
                      720 South Michigan Ave.
                      <br>
                      Chicago, IL 60605
                      <br>
                      <span class="hidden-xs">+1-312-922-4400</span>
                    </p>
                    <a class="btn btn-primary" href="javascript://">Reserve</a>
                    <a class="btn btn-default visible-xs-inline-block" href="tel://+1-312-922-4400">Call</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="thumbnail">
                  <a target="_blank" href="https://www.google.com/maps/place/Hilton+Chicago/@41.8725329,-87.6248502,17z/data=!4m7!1m4!3m3!1s0x880e2c99242c7a2f:0x4de3d4bb09dba1!2sHilton+Chicago!3b1!3m1!1s0x880e2c99242c7a2f:0x4de3d4bb09dba1">
                    <img src="https://maps.googleapis.com/maps/api/staticmap?key={{ site.google.key }}&size=555x305&markers=41.874233,-87.625483">
                  </a>
                  <div class="caption">
                    <h4>Travelodge Downtown</h4>
                    <p>
                      65 East Harrison St.
                      <br>
                      Chicago, IL 60605
                      <br>
                      <span class="hidden-xs">+1-312-427-8000</span>
                    </p>
                    <a class="btn btn-primary" href="javascript://">Reserve</a>
                    <a class="btn btn-default visible-xs-block-inline-block" href="tel://+1-312-427-8000">Call</a>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>
