<div class="thumbnail">
  {% include google_map.html link=site.hotel.google_maps_url coordinates=site.hotel.coordinates size="555x305" %}
  <div class="caption">
    <h3>{{ site.hotel.name }}</h3>
    <p>
      {{ site.hotel.address1 }}
      <br>
      {{ site.hotel.address2 }}
      <br>
      <span class="hidden-xs">{{ site.hotel.phone }}</span>
    </p>
    <a class="btn btn-primary" href="{{ site.hotel.reserve_url }}">Reserve</a>
    <a class="btn btn-default visible-xs-inline-block" href="tel://{{ site.hotel.phone }}">Call</a>
  </div>
</div>
