 <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top {% if page.invisible_nav %} navbar-hidden-top {% else %} top-nav-collapse {% endif %}" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/">
                  M <font size="+1">+</font> S
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="{% if page.url == '/' %}active{% endif %}">
                        <a href="/"> {% t titles.welcome %}</a>
                    </li>
                    <li class="{% if page.url == '/weddingday/' %}active{% endif %}">
                        <a href="{{ site.baseurl }}/weddingday">{% t titles.weddingday %}</a>
                    </li>
                    <li class="{% if page.url == '/weddingweek/' %}active{% endif %}">
                        <a href="{{ site.baseurl }}/weddingweek">{% t titles.weddingweek %}</a>
                    </li>
                    <li class="{% if page.url == '/travel/' %}active{% endif %}">
                        <a href="{{ site.baseurl }}/travel">{% t titles.travel %}</a>
                    </li>
                    <li class="{% if page.url == '/stay/' %}active{% endif %}">
                        <a href="{{ site.baseurl }}/stay">{% t titles.stay %}</a>
                    </li>
                    <li class="{% if page.url == '/swfrance/' %}active{% endif %}">
                        <a href="{{ site.baseurl }}/swfrance">{% t titles.swfrance %}</a>
                    </li>
                    {% if site.faq %}
                      <li class="{% if page.url == '/faq/' %}active{% endif %}">
                        <a href="{{ site.baseurl }}/faq">FAQ</a>
                      </li>
                    {% endif %}
                    <!--
                    <li class="notification-link">
                      <a href="#" class="ga-email-nav" data-toggle="modal" data-target="#subscribe-modal">
                        <i class="fa fa-exclamation-circle notification-link--icon"></i>
                        Updates
                      </a>
                    </li>
                    -->

                    <li class="">
                        {% if site.lang == "en" %}
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLScifx52hOoglbX0lUTx2zEnS07zNi-TkRE5kNDk2evgThwUQA/viewform">RSVP</a>
			{% elsif site.lang == "fr" %}
                            <a href="TBD">RSVP</a>
			{% endif %}
                    </li>
                    <!--
		    <li class="notification-link">
		      <a href="#" class="ga-rsvp-nav" data-toggle="modal" data-target="#rsvp-modal">
		        <i class="fa fa-exclamation-circle notification-link--icon"></i>
		        RSVP
		      </a>
		    </li>
                    -->

                    <li class="">
			{% if site.lang == "en" %}
                        	<a href="/fr{{ page.url }}">🇫🇷</a>
			{% elsif site.lang == "fr" %}
                        	<a href="/en{{ page.url }}">🇺🇲</a>
			{% endif %}
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
